.anuncios {
  display: grid;
  align-content: start;
  background: #fafbfc;
  padding: 30px;
  gap: 30px;
}

@media (max-width: 930px) {
  .anuncios {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
