.sidenav nav {
  background: #fafbfc;
  /* padding: 30px; */
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.15);
  border-radius: 5px;
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
  }

  .sidenav::after {
    content: "→";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }

  .sidenav ul {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 30px;
  }

  .sidenav ul li {
    flex: 1 0 60px;
  }

  .sidenav li a {
    margin-bottom: 0;
  }
}
